
<!DOCTYPE html>
{% extends "dec-services/base.html"%}
{% load static %}


{%block body%}
						</div>

						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="appointments">
								
								{%for p in data%}
								<!-- Appointment List -->
								<div class="appointment-list">
									<div class="profile-info-widget">
										<a href="patient-profile.html" class="booking-doc-img">
											{%if p.profile_pic%}
											<img src="{{p.profile_pic.url}}" alt="User Image">
										{%else%}
										<img src="{%static "assets/images/user.jpg"%}" alt="User Image">
										{%endif%}
										</a>
										<div class="profile-det-info">
											<h3><a href="#">{{p.name}}</a></h3>
											<div class="patient-details">
												<h5><i class="far fa-clock"></i> {{p.date}}, {{p.time}}</h5>
												<h5><i class="fas fa-map-marker-alt"></i>{{p.address}}</h5>
												<h5><i class="fas fa-envelope"></i> {{p.email}}</h5>
												<h5 class="mb-0"><i class="fas fa-phone"></i> {{p.phone}}</h5>
												  	
										</div>
									</div></div>
									
								

									<div class="appointment-action">
										
										
										<a  data-toggle="modal" href="#delete_modal{{p.id}}" class="btn btn-sm bg-danger-light">
											<i class="fe fe-trash"></i> Actions
										</a>
									</div>
								</div>
								
								<!-- /Appointment List -->

								<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal{{p.id}}" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Delete</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						 <div class="modal-body">
							<div class="form-content  p-2">
								<h4 class="modal-title">Confirm</h4>
								<p class="mb-4">Are You Want To Accept Or Reject?</p>
								<div class="row">
								<div class="col-md-6">
								<form action=""  method="post">
								{%csrf_token%}
									<input type="text" name="status" value="1" hidden>
									<input type="text" name="id" value="{{p.id}}" hidden>
									<button type="submit" class="btn btn-primary ">Accept? </button>
								</form>
								</div>
								<div class="col-md-6">
								<form action="" method="post">
									{%csrf_token%}
									<input type="text" name="status" value="2" hidden>
									<input type="text" name="id" value="{{p.id}}" hidden>

									
									<button type="submit" class="btn btn-danger" >Reject?</button>
								</form>
								</div>
							</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			
			<!-- /Delete Modal -->
								
							{%endfor%}

							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- /Page Content -->

			{%endblock%}