
<!DOCTYPE html>
{% extends "dec-services/base.html"%}
{% load static %}


{%block body%}

						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">

							<!-- Basic Information -->
						<div class="container">
  <h2>Message Table</h2>
  <p>Type something in the input field to search the table for first names:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Message</th>
        <th>Reply</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td> <input type="text" class="form-control" id="R_message" placeholder="Reply Message......"></td>
           <td><a class="btn btn-primary" href="#" role="button">Send</a></td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td><input type="text" class="form-control" id="R_message" placeholder="Reply Message......"></td>
          <td><a class="btn btn-primary" href="#" role="button">Send</a></td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td><input type="text" class="form-control" id="R_message" placeholder="Reply Message......"></td>
           <td><a class="btn btn-primary" href="#" role="button">Send</a></td>
      </tr>
      <tr>
        <td>Anja</td>
        <td>Ravendale</td>
        <td><input type="text" class="form-control" id="R_message" placeholder="Reply Message......"></td>
           <td><a class="btn btn-primary" href="#" role="button">Send</a></td>
      </tr>
    </tbody>
  </table>

  <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>
</div>
                        </div>


			<!-- /Page Content -->

			{%endblock%}