<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lab|Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="{% url 'labDashboard'%}">AMIS</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ordtable'%}">Views Order</a>
    </li>

	  <li class="nav-item">
      <a class="nav-link" href="{% url 'labprof'%}">Profile</a>
    </li>
	  <li class="nav-item">
		<a href="{%url "user_logout"%}" type="button"  class="btn btn-warning" style="margin-left:1200px;">LOGOUT</a>    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top:80px">

<div class="container">
  <h2>Orders Table</h2>
  <p class="text-warning">Type something in the input field to search the table for first names, last names or emails:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
     
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
		  <th>Number</th>
		  <th>Reply</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {%for data in data%}
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.address}}</td>
        <td>{{data.email}}</td>
		<td>{{data.phone}}</td>
		  <td><a href="{% url 'repform'%}?pid={{data.id}}" >Reply</a></td>
      </tr>
     {%endfor%}
    </tbody>
  </table>

  <p class="text-danger">Note :- Reply Message type in Reply Fourm and than submit</p>
</div>

<div class="footer" style=" position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;">

 <marquee direction="right" behavior="alternate"><em class="navbar-brand " href="#">ADVANCE MEDICAL INTEGRATION SYSTEMS </b></a></marquee>

</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</div>

</body>
</html>

